*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*

.svn/
obj/
bin/
build/
!data/
xcuserdata/

ipch/
*.suo
*.opensdf
*.vcxproj.user
*.vsxproj.filters

*.obj
*.tlog
*.sdf
*.pdb
*.idb
*.pch
Debug/
Release/

*~.xml