libs/
docs/

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*

.svn/
obj/
bin/
build/
!data/

ipch/
*.suo
*.opensdf
*.vcxproj.user

*.obj
*.tlog
*.sdf
*.pdb
*.idb
*.pch
Debug/
Release/

#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

*~.xml

#VS Studio
*.VC.db

#Example solutions
*Example/**/*.vcxproj
*Example/**/*.sln
*Example/**/*.filters
*Example/**/.vs
*Example/**/icon.rc